.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:presenters, :index)
      %li=link_to pat(:new), url(:presenters, :new)
      %li.active=link_to pat(:edit), url(:presenters, :edit, :id => @presenter.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:presenter)
    .inner
      -form_for :presenter, url(:presenters, :update, :id => @presenter.id), :method => :put, :class => :form do |f|
        =partial "presenters/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")