.group
  =f.label :email
  =f.error_message_on :email
  =f.text_field :email, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :surname
  =f.error_message_on :surname
  =f.text_field :surname, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :salt
  =f.error_message_on :salt
  =f.text_field :salt, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :crypted_password
  =f.error_message_on :crypted_password
  =f.text_field :crypted_password, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :role
  =f.error_message_on :role
  =f.text_field :role, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:accounts, :index)}';return false", :class => :button