.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :year
  =f.error_message_on :year
  =f.text_field :year, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :date
  =f.error_message_on :date
  =f.text_field :date, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:events, :index)}';return false", :class => :button