.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:events, :index)
      %li=link_to pat(:new), url(:events, :new)
      %li.active=link_to pat(:edit), url(:events, :edit, :id => @event.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:event)
    .inner
      -form_for :event, url(:events, :update, :id => @event.id), :method => :put, :class => :form do |f|
        =partial "events/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")