<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Tech Crawl East</title>
<script type="text/javascript" src="http://use.typekit.com/loz4jeq.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="css/styles.css?1" rel="stylesheet" type="text/css" />
</head>
<body id="body">
<div id="head">
  <div id="logo">
    <h2><a href="index.html">&laquo; Return to Homepage</a></h2>
  </div>
  <div id="social_media">
    <ul>
      <li id="twitter"><a href="http://www.twitter.com/techcrawleast" target="_blank">Follow Us on Twitter</a></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
<%= yield_content :body %>
<div id="foot">
  <div class="container_fixed">
    <p>All Content &copy; 2010 Tech Crawl East, All Rights Reserved | Site by <a class="sig" href="http://www.craftwork.net" target="_blank">Craftwork</a> | <a href="mailto:info@techcrawleast.com">Contact us</a></p>
  </div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11671914-3']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
